//- vendor
link(rel="stylesheet" href="#{cssDirVendor}normalize.css")
link(rel="stylesheet" href="#{cssDirVendor}foundation.css")
link(rel="stylesheet" href="#{cssDirVendor}fonticon.css")
link(rel="stylesheet" href="#{cssDirVendor}fonticonCarac.css")
link(rel="stylesheet" href="#{cssDirVendor}slick.css")
link(rel="stylesheet" href="#{cssDirVendor}magnific-popup.css")

//- local
link(rel="stylesheet" href="#{cssDirLocal}styles.css")
