//- font
script(src="https://use.typekit.net/qvx1blx.js")
script.
    try{Typekit.load({ async: true });}catch(e){}

//- vendor
script(src="#{jsDirVendor}jquery.min.js")
script(src="#{jsDirLocal}jquery.dbm.noconflictMode.js")
script(src="#{jsDirVendor}jquery.bxslider.min.js")
script(src="#{jsDirVendor}slick.min.js")
script(src="#{jsDirVendor}jquery.waypoints.min.js")
script(src="#{jsDirVendor}sticky.min.js")
script(src="#{jsDirVendor}jquery.magnific-popup.min.js")
script(src="#{jsDirVendor}imagesloaded.pkgd.min.js")
script(src="#{jsDirVendor}matchMedia.js")
script(src="#{jsDirVendor}matchMedia.addListener.js")
script(src="#{jsDirVendor}enquire.min.js")
script(src="#{jsDirVendor}foundation.min.js")
script(src="#{jsDirVendor}youtube-api.js")

script(src="#{jsDirVendor}jquery.dbm.itemEqualizer.js")
script(src="#{jsDirVendor}jquery.dbm.offCanvas.js")
script(src="#{jsDirVendor}jquery.dbm.scrollTo.js")
script(src="#{jsDirVendor}jquery.dbm.goToTop.js")
script(src="#{jsDirVendor}jquery.dbm.tabs.js")
script(src="#{jsDirVendor}jquery.dbm.gallery.js")
script(src="#{jsDirVendor}jquery.dbm.anchor.js")
script(src="#{jsDirVendor}jquery.dbm.youtube.js")


//- local
script(src="#{jsDirLocal}jquery.dbm.storeLocation.js")
script(src="#{jsDirLocal}jquery.dbm.carouselHome.js")
script(src="#{jsDirLocal}jquery.dbm.app.js")
script(src="#{jsDirLocal}jquery.dbm.nav.js")
script(src="#{jsDirLocal}jquery.dbm.header.js")
script(src="#{jsDirLocal}jquery.dbm.cartQuantity.js")
script(src="#{jsDirLocal}jquery.dbm.cartQuantityPageProduct.js")
script(src="#{jsDirLocal}jquery.dbm.productSelect.js")
script(src="#{jsDirLocal}jquery.dbm.form.js")
script(src="#{jsDirLocal}jquery.dbm.languageSwitcher.js")
script(src="#{jsDirLocal}jquery.dbm.gridProduct.js")
script(src="#{jsDirLocal}jquery.dbm.filterProduct.js")
script(src="#{jsDirLocal}jquery.dbm.giftCard.js")
script(src="#{jsDirLocal}jquery.dbm.personnalize.js")
script(src="#{jsDirLocal}jquery.dbm.accordion.js")
script(src="#{jsDirLocal}custom/jquery.dbm.custom.app.js")
