//- font
script(src="https://use.typekit.net/qvx1blx.js")
script.
    try{Typekit.load({ async: true });}catch(e){}

//- vendor
script(src="#{jsDirVendor}jquery.min.js")
script(src="#{jsDirLocal}jquery.dbm.noconflictMode.js")
script(src="#{jsDirVendor}imagesloaded.pkgd.min.js")
script(src="#{jsDirVendor}jquery.dbm.itemEqualizer.js")
script(src="#{jsDirVendor}jquery.waypoints.min.js")
script(src="#{jsDirVendor}matchMedia.js")
script(src="#{jsDirVendor}matchMedia.addListener.js")
script(src="#{jsDirVendor}enquire.min.js")
script(src="#{jsDirVendor}jquery.dbm.offCanvas.js")
script(src="#{jsDirVendor}jquery.dbm.scrollTo.js")
script(src="#{jsDirVendor}jquery.dbm.goToTop.js")
script(src="#{jsDirVendor}jquery.dbm.anchor.js")

//- local
script(src="#{jsDirLocal}jquery.dbm.b2b.js")
script(src="#{jsDirLocal}jquery.dbm.form.js")
script(src="#{jsDirLocal}jquery.dbm.languageSwitcher.js")
