//- layout
extends _components-layout

//- settings
append vars
    - var pageTitle = 'Monbento : À propos - Équipe & Partenaires'
    - var pageClass = ''
    - var menu      = false
    - var aboutMenu = true

append body

    - var labels = ['Home', 'À propos', 'Équipe & Partenaires']
    +c-breadcrumb(labels)
    
    .c-landscape--team
        .o-table
            .o-table__cell--valignMiddle
                h1 Équipe & Partenaires

    
    section.o-section--bkgGrey.c-section__aboutTeam
        .row
            .column
                .c-title--group
                    h2.c-main MB TEAM
                    .c-separator: span.c-fonticon__icon--wave
    
    
    - members = ['Emilie Creuzieux', 'Fabien Marret']
    - status = ['Co-fondatrice', 'Co-fondateur & designer']
    - content = ['C’est pour vivre des expériences extraordinaires que cette passionnée de sports extrêmes a fait le grand saut de l’entreprenariat ! Libre, créative et concernée par le monde qui l’entoure, elle incarne les valeurs de la marque à laquelle elle a donné naissance.', 'En créant monbento®, il a pu concrétiser son envie première : lancer sa propre collection de produits nomades et instaurer le design comme le fil rouge de toutes les réflexions ! Il la fait vivre au travers de produits novateurs marqués par son empreinte French design, synonyme de simplicité et d’élégance, replaçant toujours l’utilisateur au cœur des préoccupations.']
    
    each member, index in members
        section(class=index % 2 == 0 ? 'o-section--bkgGrey--noPaddingTop--noPaddingBottom--noPaddingLeft--noPaddingRight' : 'o-section--noPaddingTop--noPaddingBottom--noPaddingLeft--noPaddingRight')
            .row
                article.c-item__team
                    .column.js-team__equalizer.large-5.medium-6(class=index % 2 == 0 ? '' : 'large-push-7 medium-push-6')
                        .c-member__cover(style="background-image:url(#{imgDir}c-team__member--0#{index}.jpg)")
                            img(src="#{imgDir}c-team__member--0#{index}.jpg" alt="")                        
                    .column.js-team__equalizer.large-5.medium-6(class=index % 2 == 0 ? 'large-pull-1' : 'large-pull-6 medium-pull-6')
                        .o-table
                            .o-table__cell--valignMiddle
                                .c-team__member
                                    .c-member__name #{member}
                                    .c-member__status #{status[index]}
                                    .c-separator
                                    .c-member__description: p #{content[index]}
                                    
    section.o-section--bkgMainBranding--noPaddingTop--noPaddingBottom--noPaddingLeft--noPaddingRight
        .row.js-recruitment.c-recruitment                                
            .column.medium-5.medium-push-7.js-recruitment__equalizer
                .o-table
                    .o-table__cell--valignMiddle
                        .c-list__jobs
                            p En ce moment nous cherchons :
                            - jobs = ['Intitulé du Poste à Clermont-Ferrand', 'Commercial à Clermont-Ferrand', 'Intitulé du Poste à Clermont-Ferrand']
                            ul
                                each job in jobs
                                    li
                                        span #{job}
                                        a.c-linkCst--arrow--subBranding(href="") Voir l'annonce
                                        
                            a.c-button--transparentNoHover--arrowRightToRight Voir toutes les offres
            .column.medium-7.medium-pull-5.js-recruitment__equalizer
                .c-team__wanted
                    .o-table
                        .o-table__cell--valignMiddle
                            p De nouveaux talents à embarquer dans notre aventure.
                            a.c-button--transparentNoHover--arrowRightToRight Candidature libre
                            
    section.o-section--bkgGrey.c-section__aboutTeam
        .row
            .column
                .c-title--group
                    h2.c-main Les Ambassadeurs
                    .c-separator: span.c-fonticon__icon--wave
                    
    - ambassadors = ['Thomas Lorblanchet', 'Shiso Delicious']
    - ambassadorsStatus = ['Shiso Delicious', 'Blogueuse et photographe culinaire ']    
    
    each ambassador, index in ambassadors
        section(class=index % 2 == 0 ? 'o-section--bkgGrey--noPaddingTop--noPaddingBottom--noPaddingLeft--noPaddingRight' : 'o-section--noPaddingTop--noPaddingBottom--noPaddingLeft--noPaddingRight')
            .row.c-ambassador
                article.c-item__team
                    if (index == 0)
                        .c-ambassador__logo
                    .column.js-team__equalizer.large-8.medium-6(class=index % 2 == 0 ? '' : 'large-push-4 medium-push-6')
                        .c-member__cover(style="background-image:url(#{imgDir}c-ambassador__member--0#{index}.jpg)")
                            img(src="#{imgDir}c-ambassador__member--0#{index}.jpg" alt="")                        
                    .column.js-team__equalizer.large-4.medium-6(class=index % 2 == 0 ? '' : 'large-pull-8 medium-pull-6')
                        .o-table
                            .o-table__cell--valignMiddle
                                .c-team__member.c-ambassador
                                    .c-member__name #{ambassador}
                                    .c-member__status #{ambassadorsStatus[index]}
                                    .c-separator
                                    .c-member__description
                                        if (index == 0)
                                            p Thomas Lorblanchet, alias TomTom ou Belette, l’ultra trailer qui réduit les sommets en plaines. #[br]Pour plus de détails sur lui, direction #[a(href="") son interview sur le blog]
                                        else
                                            p Sara, alias Shiso Delicious, véritable amoureuse du bien manger, émoustille nos papilles avec ses recettes végétariennes à base de légumes du jardin, de fruits de saison et de baies sauvages. Pour la découvrir et jeter un œil à ses incroyables créations, #[a(href="") C’est par ici !]                                            
                                                            
    section.o-section--bkgGrey--noPaddingBottom.c-section__aboutTeam
        .row
            .column
                .c-title--group
                    h2.c-main Ils nous font confiance
                    .c-separator: span.c-fonticon__icon--wave
        
        .row.collapse.c-mozaic
            .column.large-8
                .row.collapse
                    .column.small-6
                        img(src="#{imgDir}c-img__mozaic--00.jpg" alt="")
                    .column.small-6
                        img(src="#{imgDir}c-img__mozaic--01.jpg" alt="")
                .row.collapse
                    .column.medium-6
                        img(src="#{imgDir}c-img__mozaic--03.jpg" alt="")
                    .column.medium-6            
                        img(src="#{imgDir}c-img__mozaic--04.jpg" alt="")
                        .c-mozaic__block
                            .c-mozaic__link
                                .c-mozaic__title Vous souhaitez distribuer nos produits&nbsp;?
                                a.c-button--transparentNoHover--arrowRightToRight(href="") Devenir revendeur
                            img(src="#{imgDir}c-img__mozaic--05.jpg")
            .column.large-4
                .row.collapse
                    .column.large-12.medium-6.js-mozaic__equalizer    
                        img(src="#{imgDir}c-img__mozaic--02.jpg" alt="")
                    .column.large-12.medium-6.js-mozaic__equalizer
                        .c-mozaic__block
                            .c-mozaic__link--white
                                .c-mozaic__title Trouvez nos produits près de chez vous
                                a.c-button--transparentNoHover--arrowRightToRight(href="") Trouver un revendeur
                            img(src="#{imgDir}c-img__mozaic--06.jpg")
                                                            
                                                            

                        
