<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>Monbento</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="robots" content="index,follow" />
        <meta content='width=device-width' name='viewport' />
        <link rel="stylesheet" href="{{app.request.baseurl}}/public/css/styles.css" type="text/css" />
        <link rel="stylesheet" href="{{app.request.baseurl}}/public/css/normalize.css" type="text/css" />
        <link rel="icon" href="{{app.request.baseurl}}/public/img/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="{{app.request.baseurl}}/public/img/favicon.ico" type="image/x-icon" />
    </head>
    <body class="{% if app.lang == 'fr'%}fr{% else %}en{% endif %}">
        <script type="text/javascript">
        dataLayer = [{
            "customer": "",
            "country": "{{app.country}}",
            "lang": "{{app.lang}}",
        }];
        </script>

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-{% if app.lang == 'fr'%}5F6HLK{% else %}WQJFV9{% endif %}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-{% if app.lang == 'fr'%}5F6HLK{% else %}WQJFV9{% endif %}');</script>
        <!-- End Google Tag Manager -->
        
        {%block body %}{%endblock%}
        <script src="{{app.request.baseurl}}/public/js/modernizr.js"></script>
        <script src="{{app.request.baseurl}}/public/js/jquery.js"></script>
        <script src="{{app.request.baseurl}}/public/js/ga.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                setTimeout(function(){
                    $('.flash-message').slideUp('slow')
                }, 4000);
            })
        </script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=236851809835955";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </body>
</html>