section.c-socialWall.o-section
    // format image
    // large : 466x466px
    // medium : 346x346px
    // small : 226x226px
    .row
        .columns.medium-3
            .c-sociallWall__block.tablet-6: img(src="#{imgDir}c-img__title--socialWall.svg", alt="")
            a.c-sociallWall__item.tablet-6(href=""): img(src="#{imgDir}c-img__instagram--346-346.jpg", alt="")
        .columns.medium-4.tablet-8
            .row
                .columns
                    a.c-sociallWall__item(href=""): img(src="#{imgDir}c-img__instagram--466-466.jpg", alt="")
                .columns.small-6
                    a.c-sociallWall__item(href=""): img(src="#{imgDir}c-img__instagram--226-226.jpg", alt="")
                .columns.small-6
                    a.c-sociallWall__item(href=""): img(src="#{imgDir}c-img__instagram--226-226.jpg", alt="")
        .columns.medium-2.tablet-4
            a.c-sociallWall__item(href=""): img(src="#{imgDir}c-img__instagram--226-226.jpg", alt="")
            .c-sociallWall__block
                .c-sociallWall__block__fixed--content Vos photos la bouche pleine
                .c-sociallWall__block__fixed--bkg
                img(src="#{imgDir}c-img__instagram--226-226.jpg", alt="")
            a.c-sociallWall__item(href=""): img(src="#{imgDir}c-img__instagram--226-226.jpg", alt="")
        .columns.medium-3
            a.c-sociallWall__item.tablet-6(href=""): img(src="#{imgDir}c-img__instagram--346-346.jpg", alt="")
            a.c-sociallWall__item.tablet-6(href=""): img(src="#{imgDir}c-img__instagram--346-346.jpg", alt="")
